body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  
  .center {
    margin: auto;  
    width: 60%;
    border: 15px solid navy;
    padding: 50px;
    margin-bottom: 50px
  }
